.mapcomponent {
    height: 100%;
    width: 100%;
    position: relative;

    .leaflet-container {
        height: 100%;
        z-index: 0;
    }

    .mapcomponent__tools {
        margin: 0.5rem;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1000;

        .tools__polygon {
            display: flex;
            justify-content: center;
            align-items: center;

            padding: 0.2rem;
            margin: 3px;
            height: 2rem;
            width: 2rem;

            background-color: white;
            outline: 0;
            border: 1px solid gray;

            svg {
                fill: hsl(216, 100%, 50%);
            }
        }
    }
}
